#incomeTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#incomeTable td,
#incomeTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#incomeTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#incomeTable tr:hover {
  background-color: #ddd;
}

#incomeTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(39, 138, 19);
  color: white;
}
